@page
@model Bank.Pages.Dash.DashboardModel
@using Bank.Models
@{
    ViewData["Title"] = "Dashboard";
}

<h3>@ViewData["Title"]</h3>
<hr />

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Transaction Category</th>
            <th>Total Amount</th>
            <th>Transaction Count</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TransactionSummaries != null && Model.TransactionSummaries.Any())

        {

            @foreach (var item in Model.TransactionSummaries)

            {
                <tr>
                    <td>
                        <a href="@Url.Page("/Dash/Trans", new { SelectedCategory = item.Category })" class="category-link">
                            @item.Category.GetDisplayName()
                        </a>
                    </td>
                    <td>@item.TotalAmount.ToString("C")</td>
                    <td>@item.Count</td>
                </tr>
            }

        }

        else

        {
            <tr>
                <td colspan="3" class="text-center">No data available.</td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
    <style>
        .category-link {
            text-decoration: none; /* Removes underline */
            color: black; /* Makes the text color black */
        }
    </style>
}
